<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Vue Template</title><%if (htmlWebpackPlugin.options.useCdn) { %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/<%= htmlWebpackPlugin.options.bulmaVersion %>/css/bulma.min.css">
<script src="https://unpkg.com/vue@<%= htmlWebpackPlugin.options.vueVersion %>" defer></script> <% } %>
</head>
<body>
  <div id="app"></div>
</body>
</html>
